{% extends 'base.html' %}
{%block content%}

	<div id="title-pagina">
		<header class="">
			<h4><span>Grupos e suas Permissões </span></h4>
		</header>
	<div>
	<div id="content-pagina">


	<div id="tabela">
		<table class="table">
			<thead>
				<tr>
					<th>PERMISSOES DO GRUPO</th>
					<th>PERMISSOES A SEREM INSERIDAS</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<!-- PERMISSOES DO GRUPO-->
						<td>
							{%for perm in permissoes_dentro%}
								<a href="{% url 'acessos:grupos_permissoes_rem' grupo_id=grupo.id perm_id=perm.id %} ">{{perm.name}}</a><br/>
							{%endfor%}
						</td>
						<!-- PERMISSOES A SEREM INSERIDAS-->
						<td>
							{%for perm in permissoes_fora%}
								<a href="{% url 'acessos:grupos_permissoes_add' grupo_id=grupo.id perm_id=perm.id %} ">{{perm.name}}</a><br/>
							{%endfor%}
						</td>
					</tr>
			</tbody>
		</table>
	</div>

<!--

		PERMISSOES DO GRUPO
		{%for perm in permissoes_dentro%}
		<p><a href="{% url 'acessos:grupos_permissoes_rem' grupo_id=grupo.id perm_id=perm.id %} ">{{perm.name}}</a></p>
		{%endfor%}

		</br></br></br></br></br></br>
		PERMISSOES A SEREM INSERIDAS
		{%for perm in permissoes_fora%}
		<p><a href="{% url 'acessos:grupos_permissoes_add' grupo_id=grupo.id perm_id=perm.id %} ">{{perm.name}}</a></p>
		{%endfor%}-->
	</div>
{%endblock%}
