{% extends "base.html" %}

{% block content %}
<div class="container">

    <form class="form-horizontal" method="post" action"" enctype="multipart/form-data">    
        {%csrf_token%}
        <div class="row">
            <div class="col-md-12 text-center">
                
                    <label class="control-label">Usuário</label>
                <div class="controls login">{{form.username}}</div>

                    <label class="control-label" >{{form.password.label_tag}}</label>
               <div class="controls login">{{form.password}}</div>
                       <div class="form-actions">
                       </br>
            <a class="btn btn-info" href="/login" role="button">Registrar</a>
            <button class="btn btn-success offset3" type="submit">Login</button>

        </br>
{% if form.errors %}
 <h3><span class="label label-danger">Senha Inválida</span></h3>
{% endif %}
        </div>
            </div>    
        </div>      
{% endblock %}