{% extends 'base.html' %}
{%block content%}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/usuario_groups_permissions.css" />

	<div id="title-pagina">
		<header class="">
			<h4><span>Usuários Grupos e Permissões</span></h4>
		</header>
	<div>
	<div id="content-pagina">
<!--
		<div id="tabela">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>GRUPOS DO USUÁRIO</th>
						<th>GRUPOS A SEREM INSERIDOS</th>
						<th>PERMISSOES DO USUARIO</th>
						<th>PERMISSOES A SEREM INSERIDAS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						GRUPOS DO USUÁRIO
						<td>
							{%for grupo in grupos_dentro%}
								<a href="{% url 'acessos:grupos_rem' slug=user.username id_grupo=grupo.id %} ">{{grupo.name}}</a>
							{%endfor%}
						</td>
						 Grupos A SEREM INSERIDOS 
						<td>
							{%for grupo in grupos_fora%}
								<a href="{% url 'acessos:grupos_add' slug=user.username id_grupo=grupo.id %} ">{{grupo.name}}</a>
							{%endfor%}
						</td>
						 PERMISSOES DO USUARIO
						<td>
							{%for perm in permissoes_dentro%}
								<a href="{% url 'acessos:perms_rem' slug=user.username id_perm=perm.id %} ">{{perm.name}}</a><br/>
							{%endfor%}
						</td>
						 PERMISSOES A SEREM INSERIDAS
						<td>
							{%for perm in permissoes_fora%}
								<a href="{% url 'acessos:perms_add' slug=user.username id_perm=perm.id %} ">{{perm.name}}</a><br/>
							{%endfor%}
						</td>


					</tr>
				</tbody>
			</table>

		</div>
-->

		
		<div id="l1">
			<table class="table">
				<thead><tr><th>GRUPOS DO USUÁRIO</th></tr></thead>
				<tbody>
					{%for grupo in grupos_dentro%}
						<tr><td><a href="{% url 'acessos:grupos_rem' slug=user.username id_grupo=grupo.id %}" class="btn btn-link">{{grupo.name}}</a></td></tr>
					{%endfor%}
				</tbody>
			</table>
		</div>

		<div id="l2">
			<table class="table">
				<thead><tr><th>Grupos A SEREM INSERIDOS</th></tr></thead>
				<tbody>
					{%for grupo in grupos_fora%}
						<tr><td><a href="{% url 'acessos:grupos_add' slug=user.username id_grupo=grupo.id %} " class="btn btn-link">{{grupo.name}}</a></tr></td>
					{%endfor%}
				</tbody>
			</table>
		</div>
		
		
		<div id="l3">
			<table class="table">
				<thead><tr><th>PERMISSOES DO USUARIO</th></tr></thead>
				<tbody>
					{%for perm in permissoes_dentro%}
						<tr><td><a href="{% url 'acessos:perms_rem' slug=user.username id_perm=perm.id %} " class="btn btn-link icon-plus">{{perm.name}}</a></tr></td>
					{%endfor%}
				</tbody>
			</table>
		</div>
	
		
		<div id="l4">
			<table class="table">
				<thead>
					<tr><th>PERMISSOES A SEREM INSERIDAS</th></tr>
				</thead>
				<tbody>
					{%for perm in permissoes_fora%}
						<tr><td><a href="{% url 'acessos:perms_add' slug=user.username id_perm=perm.id %}" class="btn btn-link icon icon-plus">{{perm.name}}</a></td></tr>
					{%endfor%}
				</tbody>
			</table>
		</div> 

		{%endblock%}
	</div>