{% extends "base.html" %}

{% block content %}

<div id="conteudo_central">
    <div class="alert alert-info" align="center">
        <h4>Faça Seu Login</h4>
    </div>
    <ul class="breadcrumb">
        <li><a href="/">Inicio</a> <span class="divider">/</span></li>
        <li class="active">Login</li>
    </ul>

{% if form.errors %}
 <div class="alert alert-danger" align="center">
        <h4>Senha incorreta !</h4>
    </div>
{% endif %}
    <form class="form-horizontal" method="post" action"" enctype="multipart/form-data">    
        {%csrf_token%}

        <div class="control-group offset3">
            <label class="control-label">Usuário </label>
            <div class="controls login">{{form.username}}</div>
        </div>
        <div class="control-group offset3">
            <label class="control-label" >{{form.password.label_tag}}</label>
            <div class="controls login">{{form.password}}</div>
        </div>
        <div class="form-actions">
            <button class="btn btn-success offset3" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}