{% extends 'base.html' %}
{%block content%}
 <div class="container">
      <div class="row">

        <div class="col-md-4">
          <h2>Novo Animal</h2>
          	{{ form.non_field_errors }}
			<form class="form-inline" method="POST" >
				{% csrf_token %}		
				<p><label>{{form.name.label}}</label> 	           	{{form.name}}</p>				{{form.name.errors}}
				<p><label>{{form.especie.label}}</label> 	           	{{form.especie}}</p>				{{form.especie.errors}}
				<p><label>{{form.raca.label}}</label> 	           	{{form.raca}}</p>				{{form.raca.errors}}
				<p><label>{{form.sexo.label}}</label> 	           	{{form.sexo}}</p>				{{form.sexo.errors}}
				<p><button type="submit" class="btn btn-success">Prosseguir</button></p>
			</form>	
        </div>
</div>

{%endblock%}