{% extends 'base.html' %}
{%block content%}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/escola_form.css" />

	<div class="bs-callout bs-callout-info">
    	<h4>Detalhes da Escola</h4>
  	</div>
	<div id="content-pagina">
		{{ form.non_field_errors }}
		<form class="form-inline" method="POST" >
			{% csrf_token %} 		
			<p><label>{{form.name.label}}</label> 	           	{{form.name}}</p>				{{form.name.errors}}
			<p><label>{{form.distrito.label}}</label> 	       	{{form.distrito}}</p>			{{form.distrito.errors}}
			<p><label>{{form.bairro.label}}</label> 	       	{{form.bairro}}</p>				{{form.bairro.errors}}
			<p><label>{{form.endereco.label}}</label> 	       	{{form.endereco}}</p>			{{form.endereco.errors}}
			<p><label>{{form.telefone_fixo.label}}</label>    	{{form.telefone_fixo}}</p>		{{form.telefone_fixo.errors}}
			<p><label>{{form.telefone_celular.label}}</label> 	{{form.telefone_celular}}</p>	{{form.telefone_celular.errors}}
			<p><button type="submit" class="btn btn-success">Salvar</button></p>
		</form>	
	</div>
{%endblock%}