{% extends 'base.html' %}
{%block content%}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/escola_form.css" />

       <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>Novo Anuncio</h2>
          	{{ form.non_field_errors }}
			<form class="form-inline" method="POST" >
				{% csrf_token %}		
				<p><label>{{form.name.label}}</label> 	           	{{form.name}}</p>				{{form.name.errors}}
				<p><label>{{form.animal.label}}</label> 	       	{{form.animal}}</p>			{{form.animal.errors}}
				<p><button type="submit" class="btn btn-success">Prosseguir</button></p>
			</form>	
        </div>

       
    </div>
        	 <hr>
</div>
	<div id="content-pagina">
		
	</div>
{%endblock%}
