<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/cloud.png">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Supered</title>
		<meta name="description" content="Multi-Level Push Menu: Off-screen navigation with multiple levels" />
		<meta name="keywords" content="multi-level, menu, navigation, off-canvas, off-screen, mobile, levels, nested, transform" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/component.css" />

		<script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>

		<!--<link rel="stylesheet" type="text/css" href="css/default.css" />-->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/component2.css" />

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
		
		<script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/padrao.css" />
		
	</head>
	<body >
		<div class="container">
			<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">
				<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">

				<!-- mp-level = define um novo menu/submenu-->
					<div class="mp-level">
						<h2 class="icon icon-note title-menu">Cadastros</h2>
						<ul>
							<!-- cria um link para uma nova aba -->
							<li class="icon icon-arrow-left">
								<!-- nome do link -->
								<a class="icon icon-user" href="#">Pessoas</a>
								<!--  mp-level = define um novo menu/submenu -->
								<div class="mp-level">
									<h2 class="icon icon-display">Pessoas</h2>
									<!-- volta para a aba anterior-->
									<a class="mp-back" href="#">Voltar</a>								
								</div>
							</li>

							<li><a class="icon icon-photo" href="{% url 'acessos:grupo_create'%}">Grupo</a></li>
							
						</ul>
							
					</div>
				</nav>
				<!-- /mp-menu -->

				<div class="scroller"><!-- this is for emulating position fixed of the nav -->
					<div class="scroller-inner">
						<!-- Top Navigation -->
						<div class="codrops-top clearfix">
							<a href="#" id="trigger" class="font-menu"><span>Menu</span></a>
							<span class="right">
								<a href="#" class="codrops-icon icon icon-lock font-menu">Sair</a>
							</span>

							<!--<header class="codrops-header title">-->
							<!--<header id="title">
								<h1>Supered</h1>
							</header>	-->
						</div>
						<div id="title">
							<span class="">
								projeto
							</span>
						</div>
						<!--
						<header class="codrops-header">
							<h3><span>Pessoas</span></h3>
						</header>
						-->
						<!--<div class="content clearfix">-->
						<div>
							<!--<div class="block block-40 clearfix">-->
							<div>
								{%block content%}
								{%endblock%}
							</div>
						</div>
						
					</div><!-- /scroller-inner -->
				</div><!-- /scroller -->

			</div><!-- /pusher -->
		
		
		
		
		
		

			<div class="cbp-spmenu-push" id="test">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
					<h3>Perfil </h3>
					<a href="#">Cadastro</a>
					<a href="#">Contato</a>
					<a href="#">Alterar Senha</a>

				</nav>
			</div>
	
		</div><!-- /container -->
		
		
		
		
		
		
		<script src="{{ STATIC_URL }}js/classie.js"></script>
		<script src="{{ STATIC_URL }}js/classie2.js"></script>
		<script src="{{ STATIC_URL }}js/mlpushmenu.js"></script>
		<script>
			new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
		
			var 
				menuRight = document.getElementById( 'cbp-spmenu-s2' ),
				showRight = document.getElementById( 'showRight' ),
				showRightPush = document.getElementById( 'showRightPush' ),
				body = document.body;


			showRight.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				disableOther( 'showRight' );
			};

			showRightPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toleft' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				disableOther( 'showRightPush' );
			};
			function desativar(){
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				classie.toggle( showRight, 'disabled' );	
			}
		</script>
	</body>
</html>